
<h1>Greeter, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %> times(s) </p>
<p>	<%= link_to "Google", "https://www.google.com" %> </p>
<p><%= link_to "Goodbye", greeter_goodby_path %></p>

